.article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  &__list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    list-style-type: none;
    margin: 0 auto;
    justify-content: center;
  }
  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-3);
    line-height: 1.75;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
    width: 270px;
  }
}

/*
.article {
  flex-direction: row;
  &__paragraph {
    flex-basis: calc((100% - 90px) / 4);
  }
  &__icon {
    gap: 30px;
    margin: 0 auto;
  }
}
.article__item:not(:last-child) {
  margin-right: 30px;
}
*/
