.article {
  min-width: 304px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    min-width: 304px;
    margin: 0 auto;
    justify-content: center;
  }
  &__paragraph {
    @include font-style(14px, 400, 0.03em, 1.75);
    color: $paragraphs;
    display: flex;
    justify-content: space-evenly;
    min-width: 304px;
    width: 450px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
  }
}

/*
.article {
  flex-direction: row;
  &__paragraph {
   
  }
 
}
.article__item:not(:last-child) {
  margin-right: 30px;
}
*/
