.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--box-1-color);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background.jpg");
  width: 1600px;
  &__headline {
    display: block;
    font-weight: 900;
    font-size: 44px;
    color: var(--text-color-2);
    line-height: 1.36;
    justify-content: center;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__button {
    display: block;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--logo-color);
    color: var(--text-color-2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: 250ms;
    &:hover {
      opacity: 0.8;
    }
  }
}
