.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

svg:hover,
svg:focus {
  fill: var(--logo-color);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  padding: 32px;
  background-color: var(--text-color-2);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--text-color-2);
  }
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 34px;
  font-weight: 500;
}
.mobile-menu .mobile-menu-link .mobile-menu__email .mobile-menu__phone {
  display: block;
  padding: 10px;
  color: var(--text-color-4);
  text-decoration: none;
}
@media (max-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
