/* -----------------------------------okno modalne---------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms;
  visibility: visible;
  transition: opacity 250ms linear;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--text-color-2);
  opacity: 1;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.14),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--text-color-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear;
}

/*----------formularz w oknie modalnym----------*/
.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.modal-headline {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color-4);
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0px;
}
.label {
  display: flex;
  flex-direction: column;
  column-gap: 28px;
  margin-left: 40px;
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color-3);
    margin-top: 10px;
  }
  &__frame {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 0 40px;
    margin-top: 4px;
    &--coment {
      height: 120px;
      resize: none;
      padding: 12px 16px;
      margin-bottom: 0px;
      margin-left: 40px;
    }
  }
}

textarea::placeholder {
  line-height: 1.16;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 12px;
}
textarea {
  padding: 12px 16px;
}
.label__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--text-color-4);
  left: 54px;
  &--person {
    top: 104px;
  }
  &--phone {
    top: 172px;
  }
  &--email {
    top: 240px;
  }
}

label:focus-within > svg {
  fill: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__frame:focus-within {
  border: 1px solid var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*------ checkbox-----*/
.checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  &__icon {
    appearance: none;
    -webkit-apperance: none;
    height: 24px;
  }
  &__text {
    display: flex;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color-3);
    line-height: 1.71;
    margin-left: 77px;
    margin-top: 20px;
    width: 100%;
    padding: 0;
    &--accent {
      color: var(--logo-color);
      text-decoration: underline;
      margin-right: 3px;
      margin-left: 3px;
    }
  }
}

.checkbox__text::before {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color-4);
  border-radius: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 57px;
  bottom: 127px;
  cursor: pointer;
}
.checkbox__icon:checked + .checkbox__text::before {
  border: none;
  background-color: var(--logo-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3EVector%3C/title%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.4923' d='M4.817 15.389l-0.169-0.162-2.544 2.41 8.962 8.55 18.829-17.962-2.527-2.411-16.302 15.536-6.249-5.962z'%3E%3C/path%3E%3C/svg%3E");
  fill: var(--text-color-2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 57px;
  bottom: 127px;
}
/*--------button submit---------*/
.modal-form__button {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  color: var(--text-color-2);
  border: none;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 164px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  /*----text buttona---*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  &:hover {
    opacity: 0.8;
  }
}
