.image {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__item {
    display: block;
    position: relative;
  }
  &__paragraph {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    position: absolute;
    color: var(--text-color-2);
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    padding-top: 27px;
  }
}
