:root {
  --logo-color: #2196f3;
  --background-color: #ffffff;
  --text-color-1: black;
  --text-color-4: #212121;
  --box-1-color: #2f303a;
  --box-2-color: #f5f4fa;
  --text-color-3: #757575;
  --text-color-2: #ffffff;
  --border-color: #ececec;
  --border-card: #eeeeee;
  --social-media: #afb1b8;
}
