body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #212121;
  line-height: 1.16;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  /* margin: 0 auto;*/
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
img {
  display: block;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 00.03em;
  margin: 0;
  margin-bottom: 30px;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

/*h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
*/
