$main: #2196f3;
$main-bg: #ffffff;
$main-logo: #000000;
$headlines: #212121;
$footer-bg: #2f303a;
$secondary-bg: #f5f4fa;
$paragraphs: #757575;
$border: #ececec;
$border-card: #eeeeee;
$svg-icon: #afb1b8;
